.form-group {
    border-radius: 5px;
    position: relative;
    padding: 0;

    label {
        color: rgba(white, 0.75);
        position: absolute;
        font-size: 13px;
        left: 10px;
        top: 2px;
        z-index: 10;
    }

    .input-group{
        border-radius: inherit;
    }

    .form-control {
        height: $height;
        background-color: $base-soft;
        border-color: transparent;
        padding-top: 20px;
        color: white;
        font-size: 14px;
        border-radius: inherit;
        margin: 0;

        &::placeholder {
            color: rgba(white, 0.2);
        }

        &:focus,
        &:hover {
            box-shadow: none;
            border-color: $primary;
        }
    }
}