.app-header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;

    .top-bar, .bottom-bar{
        height: $height;
    }

    .top-bar{
        background-color: $primary;

        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }
    }

    .bottom-bar {
        background-color: $base-soft;

        .content{
            display: flex;
            align-items: center;

            a{
                border-radius: 5px;
                // background-color: rgba(black, 0.25);
                display: flex;
                align-items: center;
                height: $height - 10px;
                margin-right: 5px;
                padding: 0 10px;
                text-decoration: none;
                color: rgba(white, 0.5);

                .icon{
                    margin-right: 5px;
                }

                &:hover, &.active{
                    background-color: rgba(black, 0.25);
                    color: $secondary;
                }
            }
        }
    }

    .logo {
        height: $height - 10px;
        width: $height - 10px;
        background-color: rgba(black, 0.25);
        border-radius: 50%;
        padding: 5px;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .account{
        .user{
            display: flex;
            align-items: center;
            background-color: rgba(black, 0.25);
            color: white;
            height: $height - 10px;
            border: none;
            border-radius: 20px;
            padding-left: 20px;
            padding-right: 0;
            font-weight: bold;

            img{
                width: 100%;
                height: 100%;
                background-color: white;
                border-radius: 50%;
            }
        }
    }
}

.content-wrapper{
    margin-top: $height * 2.2;
    padding: 10px;
}

.login-page {
    background-color: $base-soft;
    padding: 50px;

    .form-control {
        background-color: lighten($base-soft, 5%);
    }

    @include respond-to('small') {
        padding: 20px;
        margin: 10px;
    }
}

.auction-item{
    border-radius: 10px;
    background-color: $base-soft;
    padding: 10px;

    .media{
        height: 200px;
        border-radius: inherit;
        background-color: $base;
        position: relative;

        .actions{
            background-color: transparent;
            padding: 5px;
            position: absolute;
            left: 0;
            right: 0;
            top: 5px;
            z-index: 10;
            display: flex;
            justify-content: space-between;

            .button{
                border: none;
                background-color: rgba($primary, 0.8);
                // background-color: $secondary;
                padding: 10px 20px;
                border-radius: 20px;
                color: white;
                text-decoration: none;
            }

            .bid-now{
                background-color: $secondary;
                // border: 2px solid $secondary;
                color: white;

                &:hover{
                    background-color: $primary;
                }
            }
        }

        .timer{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 5px;
            color: white;
            background-color: rgba($primary, 0.5);

            span{
                background-color: $base-soft;
                padding: 3px 5px;
                border-radius: 10px;
                margin: 0 2px;
            }
        }
    }

    .current-bidder{
        background-color: rgba($base-dark, 0.5);
        padding: 0 5px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        height: $height + 5px;

        img{
            width: $height;
            height: $height;
            object-fit: cover;
            border-radius: 50%;
            padding: 5px;
            // border: 2px solid rgba(black, 0.25);
            background-color: rgba(black, 0.25);
        }
    }
}

.pagination{
    .page-item {
        .page-link{
            background: $base-soft;
            border-color: $base;
            color: white;

            &:hover{
                background-color: rgba($base-soft, 0.5);
                color: $secondary;
            }

            &:focus{
                box-shadow: none;
            }
        }

        &.active{
            .page-link{
                background-color: $secondary;
            }
        }
    }
}