h1 {
    font-size: $font-size + 6px;
}

h2 {
    font-size: $font-size + 5px;
}

h3 {
    font-size: $font-size + 4px;
}

h4 {
    font-size: $font-size + 3px;
}

h5,
h6 {
    font-size: $font-size;
}

a,li,p,div,label,span,button{
    font-size: $font-size;
}

.font-xxs{
    font-size: $font-size - 4px;
}

.font-xs {
    font-size: $font-size - 2px;
}

.font-small {
    font-size: $font-size;
}

.font-big {
    font-size: $font-size + 4;
}

.text-primary{
    color: $primary !important;
}

.text-secondary{
    color: $secondary !important;
}