$base-softer: rgba(white, 0.1);
$base-soft: rgba(#1E2028, 1);
$base: #141414;
$base-dark: #101010;

$primary: #4623D7;
$secondary: #EC025F;

$height: 50px;
$font-size: 14px;

$breakpoints: ('small': (max-width: 768px),
    'medium': (max-width: 992px),
    'large': (max-width: 1200px)) !default;