@import "variables";
@import 'mixins';

html,body{
    background-color: $base;
    color: $base-softer;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

@import 'text';
@import 'buttons';
@import 'forms';
@import 'helpers';
@import 'pages';

@include respond-to('small') {

}