$base-softer: rgba(white, 0.5);
$base-soft: #1E2028;
$base: #141414;
$base-dark: #101010;

$primary: #394BF2;

$height: 50px;

html,body{
    background-color: $base;
    color: $base-softer;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

.elevation{
    box-shadow: 1px 1px 4px rgba(black, 0.1);
}

.font-small{
    font-size: 14px;
}

.btn{
    height: $height;
    border: none;

    &.btn-primary{
        background-color: $primary;
    }
}

.form-group {
    border-radius: 5px;
    position: relative;
    padding: 0;

    label {
        color: $base-softer;
        font-size: 13px;
        position: absolute;
        top: 2px;
        left: 10px;
    }

    .form-control {
        height: $height;
        background-color: $base-soft;
        border-color: transparent;
        padding-top: 20px;
        color: white;
        font-size: 14px;
        border-radius: inherit;
        margin: 0;

        &::placeholder {
            color: rgba(white, 0.2);
        }

        &:focus, &:hover {
            box-shadow: none;
            border-color: $primary;
        }
    }
}

.login-page{
    background-color: $base-soft;
    padding: 50px 20px;

    .form-control{
        background-color: lighten($base-soft, 5%);
    }
}